/* CSS */

.input-group {
  display: flex;
  margin-bottom: 10px;
  align-items: start;
}

/* main section for todays forecast */
#today {
  display: flex;
  background-color: rgb(237, 252, 243);
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgb(227, 226, 226);
}

/* main section for all 5 day forecast */

img {
  background-color: white;
  border: 1px solid rgb(227, 226, 226);
  margin: 10px;
}

#weatherForecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day-container {
  flex-basis: calc(20% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.hourly-forecast {
  margin-top: 10px;
}

.hourly-forecast div {
  margin-bottom: 5px;
}

li {
  list-style-type: none;
}

.city-button {
  outline: none;
  border: none;
}
.deleteButton {
  border: none;
  padding: 5px;
  background-color: rgb(213, 6, 6);
  color: white;
}
